################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/grid_trading_emulation.sln
/grid_trading_emulation.vcxproj
/grid_trading_emulation.vcxproj.filters
/grid_trading_emulation.vcxproj.user
/x64
/grid_tra.624BDE6E/x64/Release
/grid_tra.624BDE6E/x64/Debug
/grid_tra.8A294B91/x64/Debug
